# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.cache
.nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# VS Code settings
.vscode/
*.code-workspace

# MacOS / Linux / Windows system files
.DS_Store
Thumbs.db
